@charset "UTF-8";

@font-face {font-family: 'hindbold'; src: url('assets/fonts/hind-bold.woff2') format('woff2'), url('assets/fonts/hind-bold.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face {font-family: 'hindlight'; src: url('assets/fonts/hind-light.woff2') format('woff2'), url('assets/fonts/hind-light.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face {font-family: 'hindregular'; src: url('assets/fonts/hind-regular.woff2') format('woff2'), url('assets/fonts/hind-regular.woff') format('woff'); font-weight: normal; font-style: normal; }

/*----------  Initial resets  ----------*/
html {font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }
body {margin: 0; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {display: block; }
audio, canvas, progress, video {display: inline-block; vertical-align: baseline; }
audio:not([controls]) {display: none; height: 0; } [hidden], template {display: none; }
a {background-color: transparent; }
a:active, a:hover {outline: 0; }
abbr[title] {border-bottom: 1px dotted; }
b, strong {font-weight: bold; }
dfn {font-style: italic; }
h1 {font-size: 2em; margin: 0.67em 0; }
mark {background: #ff0; color: #000; }
small {font-size: 80%; }
sub, sup {font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup {top: -0.5em; }
sub {bottom: -0.25em; }
img {border: 0; }
svg:not(:root) {overflow: hidden; }
figure {margin: 1em 40px; }
hr {box-sizing: content-box; height: 0; }
pre {overflow: auto; }
code, kbd, pre, samp {font-family: monospace, monospace; font-size: 1em; }
button, input, optgroup, select, textarea {color: inherit; font: inherit; margin: 0; }
button {overflow: visible; }
button, select {text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] {-webkit-appearance: button; cursor: pointer; }
button[disabled], html input[disabled] {cursor: default; }
button::-moz-focus-inner, input::-moz-focus-inner {border: 0; padding: 0; }
input {line-height: normal; }
input[type="checkbox"], input[type="radio"] {box-sizing: border-box; padding: 0; }
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {height: auto; }
input[type="search"] {-webkit-appearance: textfield; box-sizing: content-box; }
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {-webkit-appearance: none; }
fieldset {border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }
legend {border: 0; padding: 0; }
textarea {overflow: auto; }
optgroup {font-weight: bold; }
table {border-collapse: collapse; border-spacing: 0; }
td, th {padding: 0; }

/*----------  Base styles  ----------*/
html {font-size: 100%; }
*, *:before, *:after {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; } 
body {margin: 0; padding: 0; margin: 0; font-family: 'hindregular', sans-serif; font-weight: normal; line-height: 1; color: #0a0a0a; background: #f4f5f6; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
img {max-width: 100%; height: auto; -ms-interpolation-mode: bicubic; display: inline-block; vertical-align: middle; } 

select {width: 100%; border-radius: 0; height: 2.4375rem; padding: 0.5rem; border: 1px solid #cacaca; margin: 0 0 1rem; font-size: 1rem; font-family: inherit; line-height: normal; color: #0a0a0a; background-color: #fefefe; border-radius: 0; -webkit-appearance: none; -moz-appearance: none; background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="32" height="24" viewBox="0 0 32 24"><polygon points="0,0 32,0 16,24" style="fill: rgb%2851, 51, 51%29"></polygon></svg>'); background-size: 9px 6px; background-position: right 0.5rem center; background-repeat: no-repeat; } 
button {-webkit-appearance: none; -moz-appearance: none; background: transparent; padding: 0; border: 0; border-radius: 0; line-height: 1; }
label {display: block; margin: 0; font-size: 0.875rem; font-weight: normal; line-height: 1.8; color: #0a0a0a; } 
[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {display: block; box-sizing: border-box; width: 100%; height: 2.4375rem; padding: 0.5rem; border: 1px solid #cacaca; margin: 0 0 1rem; font-family: inherit; font-size: 1rem; color: #0a0a0a; background-color: #fefefe; border-radius: 0; -webkit-appearance: none; -moz-appearance: none; }
[type='text']:focus, [type='password']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='week']:focus, [type='email']:focus, [type='number']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='url']:focus, [type='color']:focus, textarea:focus {outline: none; } 
textarea {max-width: 100%; height: auto; min-height: 50px; border-radius: 0; } 
textarea[rows] {height: auto; } 
input:disabled, input[readonly], textarea:disabled, textarea[readonly] {background-color: #e6e6e6; cursor: default; } 
[type='submit'], [type='button'] {border-radius: 0; -webkit-appearance: none; -moz-appearance: none; } 
input[type='search'] {box-sizing: border-box; } 
[type='file'], [type='checkbox'], [type='radio'] {margin: 0 0 1rem; } 
[type='checkbox'] + label, [type='radio'] + label {display: inline-block; margin-left: 0.5rem; margin-right: 1rem; margin-bottom: 0; vertical-align: baseline; } 
label > [type='checkbox'],label > [type='label'] { margin-right: 0.5rem; }  
[type='file'] {width: 100%; }
[type='file'], [type='checkbox'], [type='radio'] {margin: 0 0 1rem; }
[type='checkbox'] + label, [type='radio'] + label {display: inline-block; margin-left: 0.5rem; margin-right: 1rem; margin-bottom: 0; vertical-align: baseline; } 
.hide {display: none !important; }
.invisible {visibility: hidden; } 
.float-left {float: left !important; }
.float-right {float: right !important; } 
.float-center {display: block; margin-left: auto; margin-right: auto; } 
.clearfix::before, .clearfix::after {content: ' '; display: table; }
.clearfix::after {clear: both; }


/*----------  trpography  ----------*/
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {margin: 0; padding: 0; } 
p {font-size: inherit; line-height: 1.6; margin-bottom: 1rem; text-rendering: optimizeLegibility; } 
em, i {font-style: italic; line-height: inherit; } strong, b {font-weight: bold; line-height: inherit; } 
small {font-size: 80%; line-height: inherit; } 
h1, h2, h3, h4, h5, h6 {font-family: 'hindregular', Helvetica, Arial, sans-serif; font-weight: normal; font-style: normal; color: inherit; text-rendering: optimizeLegibility; margin-top: 0; margin-bottom: 0.5rem; line-height: 1.4; } 
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {color: #cacaca; line-height: 0; } 
h1 {font-size: 1.5rem; } 
h2 {font-size: 1.25rem; } 
h3 {font-size: 1.1875rem; } 
h4 {font-size: 1.125rem; } 
h5 {font-size: 1.0625rem; } 
h6 {font-size: 1rem; } 
@media screen and (min-width: 40em) {
	h1 {font-size: 3rem; } 
	h2 {font-size: 2.5rem; } 
	h3 {font-size: 1.9375rem; } 
	h4 {font-size: 1.5625rem; } 
	h5 {font-size: 1.25rem; } 
	h6 {font-size: 1rem; } 
} 
a {color: #2199e8; text-decoration: none; line-height: inherit; cursor: pointer; } 
a img {border: 0; } 
hr {max-width: 75rem; height: 0; border-right: 0; border-top: 0; border-bottom: 1px solid #cacaca; border-left: 0; margin: 1.25rem auto; clear: both; } 
ul, ol, dl {line-height: 1.6; margin-bottom: 1rem; list-style-position: outside; } 
li {font-size: inherit; } 
ul { list-style: none; margin: 0; } 
ol {margin-left: 1.25rem; } 
dl {margin-bottom: 1rem; } 
dl dt {margin-bottom: 0.3rem; font-weight: bold; } 
blockquote {margin: 0 0 1rem; padding: 0.5625rem 1.25rem 0 1.1875rem; border-left: 1px solid #cacaca; } 
blockquote, blockquote p {line-height: 1.6; color: #8a8a8a; } 
cite {display: block; font-size: 0.8125rem; color: #8a8a8a; } 
cite:before {content: '\2014 \0020'; } 
abbr {color: #0a0a0a; cursor: help; border-bottom: 1px dotted #0a0a0a; } 
code {font-family: Consolas, "Liberation Mono", Courier, monospace; font-weight: normal; color: #0a0a0a; background-color: #e6e6e6; border: 1px solid #cacaca; padding: 0.125rem 0.3125rem 0.0625rem; } 
kbd {padding: 0.125rem 0.25rem 0; margin: 0; background-color: #e6e6e6; color: #0a0a0a; font-family: Consolas, "Liberation Mono", Courier, monospace; } 
.subheader {margin-top: 0.2rem; margin-bottom: 0.5rem; font-weight: normal; line-height: 1.4; color: #8a8a8a; } 
.lead {font-size: 125%; line-height: 1.6; } 
.stat {font-size: 2.5rem; line-height: 1; } 
p + .stat {margin-top: -1rem; } 
.no-bullet {margin-left: 0; list-style: none; } 
.text-left {text-align: left; } 
.text-right {text-align: right; } 
.text-center {text-align: center; } 
.text-justify {text-align: justify; } 
.show-for-print {display: none !important; } 
@media print {
	* {background: transparent !important; color: black !important; box-shadow: none !important; text-shadow: none !important; } 
	.show-for-print {display: block !important; } 
	.hide-for-print {display: none !important; } 
	table.show-for-print {display: table !important; } 
	thead.show-for-print {display: table-header-group !important; } 
	tbody.show-for-print {display: table-row-group !important; } 
	tr.show-for-print {display: table-row !important; } 
	td.show-for-print {display: table-cell !important; } 
	th.show-for-print {display: table-cell !important; } 
	a, a:visited {text-decoration: underline; } 
	a[href]:after {content: " (" attr(href) ")"; } 
	.ir a:after, a[href^='javascript:']:after, a[href^='#']:after {content: ''; } 
	abbr[title]:after {content: " (" attr(title) ")"; } 
	pre, blockquote {border: 1px solid #999; page-break-inside: avoid; } 
	thead {display: table-header-group; } 
	tr, img {page-break-inside: avoid; } 
	img {max-width: 100% !important; } 
	@page {margin: 0.5cm; } 
	p, h2, h3 {orphans: 3; widows: 3; } 
	h2, h3 {page-break-after: avoid; } 
}

/*----------  table  ----------*/
/*table {width: 100%; margin-bottom: 1rem; border-radius: 3px; }
table thead, table tbody, table tfoot {border: 1px solid #f1f1f1; background-color: #fefefe; }
table caption {font-weight: bold; padding: 0.5rem 0.625rem 0.625rem; }
table thead, table tfoot {background: #f8f8f8; color: #222222; }
table thead tr, table tfoot tr {background: transparent; }
table thead th, table thead td, table tfoot th, table tfoot td {padding: 0.5rem 0.625rem 0.625rem; font-weight: bold; text-align: left; }
table tbody tr:nth-child(even) {background-color: #f1f1f1; }
table tbody th, table tbody td {padding: 0.5rem 0.625rem 0.625rem; }
/*@media screen and (max-width: 63.9375em) {
	table.stack thead {display: none; }
	table.stack tfoot {display: none; }
	table.stack tr, table.stack th, table.stack td {display: block; }
	table.stack td {border-top: 0; }
}*/
/*
table.scroll {display: block; width: 100%; overflow-x: auto; }
table.hover tr:hover {background-color: #f9f9f9; }
table.hover tr:nth-of-type(even):hover {background-color: #ececec; }*/
	/*
  	Flaticon icon font: Flaticon
  	Creation date: 10/11/2016 17:19
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("assets/fonts/Flaticon.eot");
  src: url("assets/fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("assets/fonts/Flaticon.woff") format("woff"),
       url("assets/fonts/Flaticon.ttf") format("truetype"),
       url("assets/fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("assets/fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-angle-pointing-to-left:before { content: "\f100"; }
.flaticon-close-button:before { content: "\f101"; }
.flaticon-heart:before { content: "\f102"; }
.flaticon-left-arrow:before { content: "\f103"; }
.flaticon-like:before { content: "\f104"; }
.flaticon-photo-camera:before { content: "\f105"; }
.flaticon-right-arrow:before { content: "\f106"; }
.flaticon-search:before { content: "\f107"; }
.flaticon-share:before { content: "\f108"; }
.flaticon-user-silhouette:before { content: "\f109"; }
.flaticon-web-page-home:before { content: "\f10a"; }
/**
 * This file includes following classes
 * [box-sizing fix]
 * [clear fix]
 * [floats]
 * [text-direction]
 * [aligns]
 * [display]
 * [horizontal rule]
 * [font]
 * [thumbnail image]
 * [form]
 * [radio_masked]
 * [check_masked]
 * [alert]
 * [popup]
 * [overlay]
 * [table]
 * [buttons]
 * [borders]
 * [margins]
 * [paddings]
 * [border-radius]
 * [animations]
 */


/* box-sizing fix */
*, *:before, *:after {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; } 

/* clear fix */
.jp_clear::before, .jp_clear::after {content: ' '; display: table; } 
.jp_clear::after {clear: both; } 

/* floats */
.jp_fl_left {float: left; } 
.ln-ar .jp_fl_left {float: right; } 
.jp_fl_right {float: right; } 
.ln-ar .jp_fl_right {float: left; } 
.jp_fl_center {display: block; margin-left: auto; margin-right: auto; } 
.jp_fl_none {float: none; } 

/* text-direction */
.jp_dir_left{ direction: ltr; }
.jp_dir_right{ direction: rtl; }



/* aligns */
.jp_al_left {text-align: left; }
.ln-ar .jp_al_left {text-align: right; }  
.jp_al_right {text-align: right; } 
.ln-ar .jp_al_right {text-align: left; } 
.jp_al_center {text-align: center; } 
.jp_al_justify {text-align: justify; } 
.jp_al_vertical {display: inline-block !important; vertical-align: middle !important; }

/* display */
.jp_block {display: block !important; } 
.jp_inblock {display: inline-block !important; } 
.jp_hide {display: none; } 
.jp_show {display: block; } 

/* horizontal rule */
.jp_hr {width: 100%; display: block; height: 1px; background-color: #dddddd; } 
.jp_hr.or {position: relative; } 
.jp_hr.or:after {position: absolute; content: 'OR'; color: #aaaaaa; padding: 3px; background: #ffffff; top: -9px; left: 50%; font-size: 12px; margin-left: -11px; } 

/* headings */
.jp_h1 {}
.jp_h2 {}
.jp_h3 {}
.jp_h4 {}
.jp_h5 {}
.jp_h6 {}

/* loading */
.jp_loader {
    position: relative;
    display: block;
    margin: 0 auto;
}
.jp_loader:before {
    content: '';
    border-radius: 50%;
    width: 100%;
    height: 100%;
    z-index: 100;
    position: absolute;
    text-indent: -9999em;
    border-top: 5px solid rgba(0,0,0,0.2);
    border-right: 5px solid rgba(4, 4, 4, 0.2);
    border-bottom: 5px solid rgba(0,0,0,0.4);
    border-left: 5px solid #000000;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}



/* font */
.jp_bold {font-family: 'hindbold'; font-weight: normal; } 
.jp_regular {font-family: 'hindregular'; font-weight: normal; } 
.jp_light {font-family: 'hindlight'; font-weight: normal; } 
.jp_font_10 {font-size: 10px;}
.jp_font_11 {font-size: 11px;}
.jp_font_12 {font-size: 12px;}
.jp_font_13 {font-size: 13px;}
.jp_font_14 {font-size: 14px;}
.jp_font_15 {font-size: 15px;}
.jp_font_17 {font-size: 17px;}
.jp_font_20 {font-size: 20px;}
.jp_font_25 {font-size: 25px;}
.jp_font_30 {font-size: 30px;}

/* thumbnail image */
.jp_imagethmb {text-align: center; width: 100%; font-size: 0;} 
.jp_imagethmb_inner { vertical-align: middle; height: 100%; display: inline-block; } 
.jp_imagethmb img {max-width: 100%; max-height: 100%; display: inline-block; vertical-align: middle;} 

/* form */
.jp_input, .jp_select, .jp_textarea, .jp_textarea {padding: 10px; height: 50px; font-size: 14px; margin: 0 0 15px 0; border: 1px solid #DDDDDD; }
.jp_input:focus, .jp_select:focus, .jp_textarea:focus, .jp_textarea:focus{ border-color: #3da2ff; }
.jp_radio, .jp_checkbox {display: inline-block; vertical-align: middle; }
.jp_select { outline: none; padding: 0 30px 0 10px; background-repeat: no-repeat; background-size: 10px; background-position: right 10px center; background-image: url('data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTYuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjE2cHgiIGhlaWdodD0iMTZweCIgdmlld0JveD0iMCAwIDI1NSAyNTUiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDI1NSAyNTU7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGc+Cgk8ZyBpZD0iYXJyb3ctZHJvcC1kb3duIj4KCQk8cG9seWdvbiBwb2ludHM9IjAsNjMuNzUgMTI3LjUsMTkxLjI1IDI1NSw2My43NSAgICIgZmlsbD0iI2I2YjZiNiIvPgoJPC9nPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+Cjwvc3ZnPgo=');  }
.jp_select option { background-color: #fdf4f2; }
.ln-ar .jp_select { padding: 0 10px 0 30px; background-position: left 10px center; }
.jp_textarea {height: auto; resize: none; } 
.jp_input.error, .jp_select.error, .jp_textarea.error {border-color: #d71a21; margin: 0; } 
.jp_label {display: block; line-height: 20px; font-size: 14px; } 
.jp_label.inline {white-space: nowrap; display: inline-block; line-height: 40px; } 
.jp_formerror {margin-bottom: 15px; font-size: 12px; color: #d71a21; border-color: #ebccd1; display: block;}

/* radio_masked */
.radio_masked {position: relative; height: 20px; width: 20px;}
.radio_masked input[type="radio"] { margin: 0; width: 100%; height: 100%; }
.radio_masked i {position: absolute; width: 100%; height: 100%; background-color: #FFF; z-index: 5; top: 0; left: 0; border-radius: 50%; border: 2px solid #f55100; pointer-events: none; cursor: pointer; }
.radio_masked i:after {content: ''; width: 100%; height: 100%; border: 3px solid #fff; background-color: #f55100; top: 0; left: 0; border-radius: 50%; z-index: 6; position: absolute; display: none; pointer-events: none; cursor: pointer; -webkit-box-sizing          : border-box; -moz-box-sizing             : border-box; box-sizing                  : border-box; }
.radio_masked input[type="radio"]:checked ~ i:after {display: block; }

/* check_masked */
.check_masked {position: relative; height: 23px; width: 23px; display: inline-block; }
.check_masked input[type="checkbox"] {
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
}
.check_masked i {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    z-index: 5;
    top: 0;
    left: 0;
    border-radius: 4px;
    border: 2px solid #f55100;
    pointer-events: none;
    cursor: pointer;
}
.check_masked i:after {content: ''; width: 100%; height: 100%; border: 3px solid #fff; background-color: #f55100; top: 0; left: 0; border-radius: 5px; z-index: 6; position: absolute; display: none; pointer-events: none; cursor: pointer; -webkit-box-sizing          : border-box; -moz-box-sizing             : border-box; box-sizing                  : border-box; }
.check_masked input[type="checkbox"]:checked ~ i:after {display: block; }

/* alert */
.jp_alert {position: fixed; font-size: 14px; padding: 10px; border: 1px solid transparent; bottom: 0; left: 0; width: 100%; z-index: 110; }
.jp_alert_danger {color: #a94442; background-color: #f2dede; border-color: #ebccd1; }
.jp_alert_info {color: #31708f; background-color: #d9edf7; border-color: #bce8f1; }
.jp_alert_warning {color: #8a6d3b; background-color: #fcf8e3; border-color: #faebcc; }
.jp_alert_success {color: #3c763d; background-color: #dff0d8; border-color: #d6e9c6; }

/* popup */
.jp_popup {
    top: 0;
    left: 0; 
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 101;
    font-size: 0;
    text-align: center;  
    background-color: rgba(0,0,0,0.9);
}
.jp_popup_align{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.jp_popup_content {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    font-size: initial;
}
.jp_popupclose {
    position: absolute;
    display: inline-block;
    width: 45px;
    height: 45px;
    background-position: center;
    background-image: url('images/ico_close_ffffff.png');
    background-repeat: no-repeat;
    background-size: 35px;
    top: 15px;
    right: 15px;
}

/* table */
.jp_table {} 
.jp_table thead th, .jp_table thead td {border-bottom: 1px solid #dddddd; font-size: 14px; font-family: 'hindbold'; font-weight: normal; color: #666666; } 
.jp_table tbody td { border-bottom: 1px solid #EFEFEF; } 

/* buttons */
.jp_button { font-weight: normal; text-align: center; border: 0; line-height: 40px; height: 40px; font-size: 13px; color: #ffffff; display: block; width: 100%; margin: 0 0 15px 0; } 

.jp_btnred {background-color: #D71A21 !important; color: #ffffff; -webkit-transition: all 300ms linear; -moz-transition: all 300ms linear; -ms-transition: all 300ms linear; -o-transition: all 300ms linear; transition: all 300ms linear; } 
.jp_btnred:hover {background-color: #AD1319 !important; color: #ffffff; } 

.jp_btngreen {background-color: #2ecc71 !important; color: #ffffff; -webkit-transition: all 300ms linear; -moz-transition: all 300ms linear; -ms-transition: all 300ms linear; -o-transition: all 300ms linear; transition: all 300ms linear; } 
.jp_btngreen:hover {background-color: #27ae60 !important; color: #ffffff; } 

.jp_btnredneg { color: #D71A21; border: 1px solid #D71A21; -webkit-transition: all 300ms linear; -moz-transition: all 300ms linear; -ms-transition: all 300ms linear; -o-transition: all 300ms linear; transition: all 300ms linear; } 
.jp_btnredneg:hover { background-color: #D71A21 !important; color: #ffffff; } 

.jp_btnorange {background-color: #f55100 !important; color: #ffffff; -webkit-transition: all 300ms linear; -moz-transition: all 300ms linear; -ms-transition: all 300ms linear; -o-transition: all 300ms linear; transition: all 300ms linear; } 
.jp_btnorange:hover {background-color: #d35400 !important; } 

.jp_btnorangeneg { color: #f55100; border: 1px solid #f55100; -webkit-transition: all 300ms linear; -moz-transition: all 300ms linear; -ms-transition: all 300ms linear; -o-transition: all 300ms linear; transition: all 300ms linear; } 
.jp_btnorangeneg:hover {background-color: #f55100 !important; color: #ffffff; } 

.jp_btngrey {background-color: #95a5a6 !important; color: #ffffff; -webkit-transition: all 300ms linear; -moz-transition: all 300ms linear; -ms-transition: all 300ms linear; -o-transition: all 300ms linear; transition: all 300ms linear; } 
.jp_btngrey:hover {background-color: #7f8c8d !important; color: #ffffff; } 

.jp_btnnightblue {background-color: #34495e !important; color: #ffffff; -webkit-transition: all 300ms linear; -moz-transition: all 300ms linear; -ms-transition: all 300ms linear; -o-transition: all 300ms linear; transition: all 300ms linear; } 
.jp_btnnightblue:hover {background-color: #2c3e50 !important; color: #ffffff; } 

.jp_btnyellow {background-color: #f1c40f !important; color: #ffffff; -webkit-transition: all 300ms linear; -moz-transition: all 300ms linear; -ms-transition: all 300ms linear; -o-transition: all 300ms linear; transition: all 300ms linear; } 
.jp_btnyellow:hover {background-color: #f39c12 !important; color: #ffffff; } 

.jp_btnasphalt {background-color: #34495e !important; color: #ffffff; -webkit-transition: all 300ms linear; -moz-transition: all 300ms linear; -ms-transition: all 300ms linear; -o-transition: all 300ms linear; transition: all 300ms linear; } 
.jp_btnasphalt:hover {background-color: #2c3e50 !important; color: #ffffff; } 

.jp_btnpink {background-color: #f37c5c !important; color: #ffffff; -webkit-transition: all 300ms linear; -moz-transition: all 300ms linear; -ms-transition: all 300ms linear; -o-transition: all 300ms linear; transition: all 300ms linear; } 
.jp_btnpink:hover {background-color: #d0664a !important; color: #ffffff; } 

/* borders */
.jp_b0 { border: 0 !important; } 
.jp_ba { border: 1px solid #dddddd; } 
.jp_bt { border-top: 1px solid #dddddd;  } 
.jp_bl { border-left: 1px solid #dddddd; } 
.jp_br { border-right: 1px solid #dddddd; } 
.jp_bb { border-bottom: 1px solid #dddddd; } 

/* margins [all, top, left, right, bottom]*/
.jp_m0 {margin: 0px !important; } 
.jp_m2 {margin: 2px !important; } 
.jp_m3 {margin: 3px !important; } 
.jp_m4 {margin: 4px !important; } 
.jp_m5 {margin: 5px !important; } 
.jp_m7 {margin: 7px !important; } 
.jp_m10 {margin: 10px !important; } 
.jp_m12 {margin: 12px !important; } 
.jp_m15 {margin: 15px !important; } 
.jp_m20 {margin: 20px !important; }
.jp_m25 {margin: 25px !important; } 
.jp_m30 {margin: 30px !important; } 
.jp_m35 {margin: 35px !important; } 
.jp_m40 {margin: 40px !important; } 
.jp_m45 {margin: 45px !important; } 
.jp_m50 {margin: 50px !important; } 

.jp_mt0 {margin-top: 0px !important; } 
.jp_mt2 {margin-top: 2px !important; } 
.jp_mt3 {margin-top: 3px !important; } 
.jp_mt4 {margin-top: 4px !important; } 
.jp_mt5 {margin-top: 5px !important; } 
.jp_mt7 {margin-top: 7px !important; } 
.jp_mt10 {margin-top: 10px !important; } 
.jp_mt12 {margin-top: 12px !important; } 
.jp_mt15 {margin-top: 15px !important; } 
.jp_mt20 {margin-top: 20px !important; }
.jp_mt25 {margin-top: 25px !important; } 
.jp_mt30 {margin-top: 30px !important; }
.jp_mt35 {margin-top: 35px !important; } 
.jp_mt40 {margin-top: 40px !important; }
.jp_mt45 {margin-top: 45px !important; } 
.jp_mt50 {margin-top: 50px !important; } 

.jp_ml0 {margin-left: 0px !important; }
.jp_ml2 {margin-left: 2px !important; }
.jp_ml3 {margin-left: 3px !important; }
.jp_ml4 {margin-left: 4px !important; }
.jp_ml5 {margin-left: 5px !important; }
.jp_ml7 {margin-left: 7px !important; }
.jp_ml10 {margin-left: 10px !important; }
.jp_ml12 {margin-left: 12px !important; }
.jp_ml15 {margin-left: 15px !important; }
.jp_ml20 {margin-left: 20px !important; }
.jp_ml25 {margin-left: 25px !important; }
.jp_ml30 {margin-left: 30px !important; }
.jp_ml35 {margin-left: 35px !important; }
.jp_ml40 {margin-left: 40px !important; }
.jp_ml45 {margin-left: 45px !important; }
.jp_ml50 {margin-left: 50px !important; }

.jp_mr0 {margin-right: 0px !important; }
.jp_mr2 {margin-right: 2px !important; }
.jp_mr3 {margin-right: 3px !important; }
.jp_mr4 {margin-right: 4px !important; }
.jp_mr5 {margin-right: 5px !important; }
.jp_mr7 {margin-right: 7px !important; }
.jp_mr10 {margin-right: 10px !important; }
.jp_mr12 {margin-right: 12px !important; }
.jp_mr15 {margin-right: 15px !important; }
.jp_mr20 {margin-right: 20px !important; }
.jp_mr25 {margin-right: 25px !important; }
.jp_mr30 {margin-right: 30px !important; }
.jp_mr35 {margin-right: 35px !important; }
.jp_mr40 {margin-right: 40px !important; }
.jp_mr45 {margin-right: 45px !important; }
.jp_mr50 {margin-right: 50px !important; }

.jp_mb0 {margin-bottom: 0px !important; } 
.jp_mb2 {margin-bottom: 2px !important; } 
.jp_mb3 {margin-bottom: 3px !important; } 
.jp_mb4 {margin-bottom: 4px !important; } 
.jp_mb5 {margin-bottom: 5px !important; } 
.jp_mb7 {margin-bottom: 7px !important; } 
.jp_mb10 {margin-bottom: 10px !important; } 
.jp_mb12 {margin-bottom: 12px !important; } 
.jp_mb15 {margin-bottom: 15px !important; } 
.jp_mb20 {margin-bottom: 20px !important; }
.jp_mb25 {margin-bottom: 25px !important; } 
.jp_mb30 {margin-bottom: 30px !important; } 
.jp_mb35 {margin-bottom: 35px !important; }
.jp_mb40 {margin-bottom: 40px !important; }
.jp_mb45 {margin-bottom: 45px !important; } 
.jp_mb50 {margin-bottom: 50px !important; } 

/* paddings [all, top, left, right, bottom]*/
.jp_p0 {padding: 0 !important; } 
.jp_p2 {padding: 2px !important; } 
.jp_p3 {padding: 3px !important; } 
.jp_p4 {padding: 4px !important; } 
.jp_p5 {padding: 5px !important; } 
.jp_p7 {padding: 7px !important; } 
.jp_p10 {padding: 10px !important; } 
.jp_p12 {padding: 12px !important; } 
.jp_p15 {padding: 15px !important; } 
.jp_p20 {padding: 20px !important; }
.jp_p25 {padding: 25px !important; } 
.jp_p30 {padding: 30px !important; } 
.jp_p35 {padding: 35px !important; } 
.jp_p40 {padding: 40px !important; }
.jp_p45 {padding: 45px !important; } 
.jp_p50 {padding: 50px !important; }

.jp_pt0 {padding-top: 0px !important; } 
.jp_pt2 {padding-top: 2px !important; } 
.jp_pt3 {padding-top: 3px !important; } 
.jp_pt4 {padding-top: 4px !important; } 
.jp_pt5 {padding-top: 5px !important; } 
.jp_pt7 {padding-top: 7px !important; } 
.jp_pt10 {padding-top: 10px !important; } 
.jp_pt12 {padding-top: 12px !important; } 
.jp_pt15 {padding-top: 15px !important; } 
.jp_pt20 {padding-top: 20px !important; } 
.jp_pt25 {padding-top: 25px !important; } 
.jp_pt30 {padding-top: 30px !important; } 
.jp_pt35 {padding-top: 35px !important; }
.jp_pt40 {padding-top: 40px !important; }
.jp_pt45 {padding-top: 45px !important; } 
.jp_pt50 {padding-top: 50px !important; } 

.jp_pl0 {padding-left: 0px !important; }
.jp_pl2 {padding-left: 2px !important; }
.jp_pl3 {padding-left: 3px !important; }
.jp_pl4 {padding-left: 4px !important; }
.jp_pl5 {padding-left: 5px !important; }
.jp_pl7 {padding-left: 7px !important; }
.jp_pl10 {padding-left: 10px !important; }
.jp_pl12 {padding-left: 12px !important; }
.jp_pl15 {padding-left: 15px !important; }
.jp_pl20 {padding-left: 20px !important; }
.jp_pl25 {padding-left: 25px !important; }
.jp_pl30 {padding-left: 30px !important; }
.jp_pl35 {padding-left: 35px !important; }
.jp_pl40 {padding-left: 40px !important; }
.jp_pl45 {padding-left: 45px !important; }
.jp_pl50 {padding-left: 50px !important; }

.jp_pr0 {padding-right: 0px !important; }
.jp_pr2 {padding-right: 2px !important; }
.jp_pr3 {padding-right: 3px !important; }
.jp_pr4 {padding-right: 4px !important; }
.jp_pr5 {padding-right: 5px !important; }
.jp_pr7 {padding-right: 7px !important; }
.jp_pr10 {padding-right: 10px !important; }
.jp_pr12 {padding-right: 12px !important; }
.jp_pr15 {padding-right: 15px !important; }
.jp_pr20 {padding-right: 20px !important; }
.jp_pr25 {padding-right: 25px !important; }
.jp_pr30 {padding-right: 30px !important; }
.jp_pr35 {padding-right: 35px !important; }
.jp_pr40 {padding-right: 40px !important; }
.jp_pr45 {padding-right: 45px !important; }
.jp_pr50 {padding-right: 50px !important; }

.jp_pb0 {padding-bottom: 0px !important; } 
.jp_pb2 {padding-bottom: 2px !important; } 
.jp_pb3 {padding-bottom: 3px !important; } 
.jp_pb4 {padding-bottom: 4px !important; } 
.jp_pb5 {padding-bottom: 5px !important; } 
.jp_pb7 {padding-bottom: 7px !important; } 
.jp_pb10 {padding-bottom: 10px !important; } 
.jp_pb12 {padding-bottom: 12px !important; } 
.jp_pb15 {padding-bottom: 15px !important; } 
.jp_pb20 {padding-bottom: 20px !important; } 
.jp_pb25 {padding-bottom: 25px !important; } 
.jp_pb30 {padding-bottom: 30px !important; }
.jp_pb35 {padding-bottom: 35px !important; } 
.jp_pb40 {padding-bottom: 40px !important; }
.jp_pb45 {padding-bottom: 45px !important; } 
.jp_pb50 {padding-bottom: 50px !important; } 

/* border-radius */
.jp_br0 {border-radius: 0; } 
.jp_br1 {border-radius: 1px; } 
.jp_br2 {border-radius: 2px; } 
.jp_br3 {border-radius: 3px; } 
.jp_br4 {border-radius: 4px; } 
.jp_br5 {border-radius: 5px; } 
.jp_br10 {border-radius: 10px; } 
.jp_br50 {border-radius: 50px; } 
.jp_br100 {border-radius: 100px; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
 .ng-cloak,
 .x-ng-cloak {
  display: none !important;
}


/* Aminations */
@-webkit-keyframes cssload {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes cssload {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* grid */
.jp_wrapper {max-width: 960px; margin: 0 auto; }
.jp_row {max-width: 100%; margin-left: auto; margin-right: auto; } 
.jp_row::before, .jp_row::after {content: ' '; display: table; } 
.jp_row::after {clear: both; } 
.strech {margin-left: -7px; margin-right: -7px; max-width: none;}
.collapse > .jp_column, .collapse > .jp_columns {padding-left: 0; padding-right: 0; }
.collapse.jp_column {padding-left: 0; padding-right: 0; } 
.jp_row .jp_row.collapse {margin-left: 0; margin-right: 0; } 
.jp_row.expanded {max-width: none; } 
.jp_row.stretch { margin: 0 -7px; max-width: none; } 
.jp_row.expanded .jp_row {margin-left: auto; margin-right: auto; } 
.jp_column, .jp_columns {padding-left: 7px; padding-right: 7px; width: 100%; float: left; } 
.ln-ar .jp_column, .ln-ar .jp_columns { float: right; } 
.jp_column.jp_row.jp_row, .jp_row.jp_row.jp_columns { float: none; } 
.jp_row .jp_column.jp_row.jp_row, .jp_row .jp_row.jp_row.jp_columns {padding-left: 0; padding-right: 0; margin-left: 0; margin-right: 0; } 
.jp_small_1 {width: 4.16667%; } 
.jp_small_2 {width: 8.33333%; } 
.jp_small_3 {width: 12.5%; } 
.jp_small_4 {width: 16.66667%; } 
.jp_small_5 {width: 20.83333%; } 
.jp_small_6 {width: 25%; } 
.jp_small_7 {width: 29.16667%; } 
.jp_small_8 {width: 33.33333%; } 
.jp_small_9 {width: 37.5%; } 
.jp_small_10 {width: 41.66667%; } 
.jp_small_11 {width: 45.83333%; } 
.jp_small_12 {width: 50%; } 
.jp_small_13 {width: 54.16667%; } 
.jp_small_14 {width: 58.33333%; } 
.jp_small_15 {width: 62.5%; } 
.jp_small_16 {width: 66.66667%; } 
.jp_small_17 {width: 70.83333%; } 
.jp_small_18 {width: 75%; } 
.jp_small_19 {width: 79.16667%; } 
.jp_small_20 {width: 83.33333%; } 
.jp_small_21 {width: 87.5%; } 
.jp_small_22 {width: 91.66667%; } 
.jp_small_23 {width: 95.83333%; } 
.jp_small_24 {width: 100%; } 
.jp_small_collapse > .jp_column, .jp_small_collapse > .jp_columns {padding-left: 0; padding-right: 0; } 
.jp_small_collapse .jp_row {margin-left: 0; margin-right: 0; } 
.jp_small_uncollapse > .jp_column, .jp_small_uncollapse > .jp_columns {padding-left: 0.625rem; padding-right: 0.625rem; } 
.jp_small_centered {float: none; margin-left: auto; margin-right: auto; } 
@media screen and (min-width: 540px) {
  .jp_medium_1 {width: 4.16667%; } 
  .jp_medium_2 {width: 8.33333%; } 
  .jp_medium_3 {width: 12.5%; } 
  .jp_medium_4 {width: 16.66667%; } 
  .jp_medium_5 {width: 20.83333%; } 
  .jp_medium_6 {width: 25%; } 
  .jp_medium_7 {width: 29.16667%; } 
  .jp_medium_8 {width: 33.33333%; } 
  .jp_medium_9 {width: 37.5%; } 
  .jp_medium_10 {width: 41.66667%; } 
  .jp_medium_11 {width: 45.83333%; } 
  .jp_medium_12 {width: 50%; } 
  .jp_medium_13 {width: 54.16667%; } 
  .jp_medium_14 {width: 58.33333%; } 
  .jp_medium_15 {width: 62.5%; } 
  .jp_medium_16 {width: 66.66667%; } 
  .jp_medium_17 {width: 70.83333%; } 
  .jp_medium_18 {width: 75%; } 
  .jp_medium_19 {width: 79.16667%; } 
  .jp_medium_20 {width: 83.33333%; } 
  .jp_medium_21 {width: 87.5%; } 
  .jp_medium_22 {width: 91.66667%; } 
  .jp_medium_23 {width: 95.83333%; } 
  .jp_medium_24 {width: 100%; } 
  .jp_medium_collapse > .jp_column, .jp_medium_collapse > .jp_columns {padding-left: 0; padding-right: 0; } 
  .jp_medium_collapse .jp_row {margin-left: 0; margin-right: 0; } 
  .jp_medium_uncollapse > .jp_column, .jp_medium_uncollapse > .jp_columns {padding-left: 0.9375rem; padding-right: 0.9375rem; } 
  .jp_medium_centered {float: none; margin-left: auto; margin-right: auto; } 
} 
@media screen and (min-width: 760px) {
  .jp_large_1 {width: 4.16667%; } 
  .jp_large_2 {width: 8.33333%; } 
  .jp_large_3 {width: 12.5%; } 
  .jp_large_4 {width: 16.66667%; } 
  .jp_large_5 {width: 20.83333%; } 
  .jp_large_6 {width: 25%; } 
  .jp_large_7 {width: 29.16667%; } 
  .jp_large_8 {width: 33.33333%; } 
  .jp_large_9 {width: 37.5%; } 
  .jp_large_10 {width: 41.66667%; } 
  .jp_large_11 {width: 45.83333%; } 
  .jp_large_12 {width: 50%; } 
  .jp_large_13 {width: 54.16667%; } 
  .jp_large_14 {width: 58.33333%; } 
  .jp_large_15 {width: 62.5%; } 
  .jp_large_16 {width: 66.66667%; } 
  .jp_large_17 {width: 70.83333%; } 
  .jp_large_18 {width: 75%; } 
  .jp_large_19 {width: 79.16667%; } 
  .jp_large_20 {width: 83.33333%; } 
  .jp_large_21 {width: 87.5%; } 
  .jp_large_22 {width: 91.66667%; } 
  .jp_large_23 {width: 95.83333%; } 
  .jp_large_24 {width: 100%; } 
  .jp_large_collapse > .jp_column, .jp_large_collapse > .jp_columns {padding-left: 0; padding-right: 0; } 
  .jp_large_collapse .jp_row {margin-left: 0; margin-right: 0; } 
  .jp_large_uncollapse > .jp_column, .jp_large_uncollapse > .jp_columns {padding-left: 0.9375rem; padding-right: 0.9375rem; } 
  .jp_large_centered {float: none; margin-left: auto; margin-right: auto; } 
}
@media screen and (min-width: 980px) {
  .jp_xlarge_1 {width: 4.16667%; } 
  .jp_xlarge_2 {width: 8.33333%; } 
  .jp_xlarge_3 {width: 12.5%; } 
  .jp_xlarge_4 {width: 16.66667%; } 
  .jp_xlarge_5 {width: 20.83333%; } 
  .jp_xlarge_6 {width: 25%; } 
  .jp_xlarge_7 {width: 29.16667%; } 
  .jp_xlarge_8 {width: 33.33333%; } 
  .jp_xlarge_9 {width: 37.5%; } 
  .jp_xlarge_10 {width: 41.66667%; } 
  .jp_xlarge_11 {width: 45.83333%; } 
  .jp_xlarge_12 {width: 50%; } 
  .jp_xlarge_13 {width: 54.16667%; } 
  .jp_xlarge_14 {width: 58.33333%; } 
  .jp_xlarge_15 {width: 62.5%; } 
  .jp_xlarge_16 {width: 66.66667%; } 
  .jp_xlarge_17 {width: 70.83333%; } 
  .jp_xlarge_18 {width: 75%; } 
  .jp_xlarge_19 {width: 79.16667%; } 
  .jp_xlarge_20 {width: 83.33333%; } 
  .jp_xlarge_21 {width: 87.5%; } 
  .jp_xlarge_22 {width: 91.66667%; } 
  .jp_xlarge_23 {width: 95.83333%; } 
  .jp_xlarge_24 {width: 100%; } 
  .jp_xlarge_collapse > .jp_column, .jp_xlarge_collapse > .jp_columns {padding-left: 0; padding-right: 0; } 
  .jp_xlarge_collapse .jp_row {margin-left: 0; margin-right: 0; } 
  .jp_xlarge_uncollapse > .jp_column, .jp_xlarge_uncollapse > .jp_columns {padding-left: 0.9375rem; padding-right: 0.9375rem; } 
  .jp_xlarge_centered {float: none; margin-left: auto; margin-right: auto; } 
}
/* main */
.main {
	margin: 0 0 45px 0;
}

/* navigation */
.navigation {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 99;
	right: 0;
	width: 100%;
    background-color: #fe639d;
}
.navigation_list {}
.navigation_item {
	width: 20%;
	float: left;
}
.navigation_link {
	display: block;
	color: #ffffff;
	font-size: 20px;
	padding: 5px;
	background-color: #fe639d;

	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-ms-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}
.navigation_link:hover {
	background-color: #b14255;
}
.navigation_search {}

/* searchoverlay */
.searchoverlay {
    top: 0;
    left: 0;
    padding: 15px;
    width: 100%;
    z-index: 50;
    height: 100%;
    position: fixed;
    background-color: rgba(254,114,99,.95);
    opacity: 0;

	-moz-transform: translateX(0px) translateY(100%);
	-webkit-transform: translateX(0px) translateY(100%);
	-o-transform: translateX(0px) translateY(100%);
	-ms-transform: translateX(0px) translateY(100%);
	transform: translateX(0px) translateY(100%);

	-webkit-transition: all 500ms linear;
	-moz-transition: all 500ms linear;
	-ms-transition: all 500ms linear;
	-o-transition: all 500ms linear;
	transition: all 500ms linear;
}
.searchoverlay.active {
	opacity: 1;
	-moz-transform: translateX(0px) translateY(0);
	-webkit-transform: translateX(0px) translateY(0);
	-o-transform: translateX(0px) translateY(0);
	-ms-transform: translateX(0px) translateY(0);
	transform: translateX(0px) translateY(0);
}
.searchoverlay_form {
	margin: 40px 0 0 0;
}
.searchoverlay_input {
	margin: 0;
    border: 0;
    color: #ffffff;
    background-color: transparent;
    border-bottom: 1px solid #dddddd;
}
.searchoverlay_label {
	color: #ffffff;
	margin: 0 0 15px 0;
}
.searchoverlay_slide {
	margin: 20px 0;
}
.searchoverlay_hr {
	display: block;
	height: 1px;
	background-color: #e6555f;
}

/* trending */
.trending {}
.trending_heading {
	font-size: 12px;
	color: #ffffff;
}
.trending_list {}
.trending_item {
	font-size: 12px;
    margin: 5px 2px;
    display: inline-block;
    padding: 5px 15px;
    color: #ffffff;
    border-radius: 15px;
    background-color: #4f5dcd;
}



/* sitesearch */
.sitesearch {}
.sitesearch_trig {
    display: block;
    color: #fff;
    padding: 14px 10px;
}
.sitesearch_icon {}
.sitesearch_box {
	display: none;
}


/* results */
.results {}
.results_list {}
.results_item {
	border-bottom: 1px solid #dddddd;
}
.results_link {
	display: block;
}
.results_top {
	background-color: #ffffff;
}
.results_middle {
	position: relative;
}
.results_bottom {
	background-color: #ffffff;
}

/* personinfo */
.personinfo {}
.personinfo_img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.personinfo_title {
    color: #4f5dcd;
    font-size: 13px;
}

/* persondistance */
.persondistance {
    font-size: 16px;
    color: #999;
    height: 40px;
    line-height: 40px;
}
.persondistance_value {}
.persondistance_title {}


/* itemslider */
.itemslider {
	min-height: 200px;
	background-color: #dddddd;
}
.itemslider_item {
	display: block;
	position: relative;
}
.itemslider_item:after {
	position: absolute;
	content: '';
	top: 0;
	z-index: 5;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
}
.itemslider_img {
	width: 100%;
}
.itemslider .owl-prev,
.itemslider .owl-next {
	top: 50%;
    width: 30px;
    height: 50px;
    margin-top: -25px;
    position: absolute;
    text-indent: -99999px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    background-color: rgba(255, 255, 255, 0.47);
}
.itemslider .owl-prev {
	background-image: url('assets/images/left-arrow.png');
	left: 0 !important;
}
.itemslider .owl-next {
	background-image: url('assets/images/right-arrow.png');
	right: 0 !important;
}

/* itemsinfo */
.itemsinfo {
	position: absolute;
	bottom: 0;
	z-index: 6;
	width: 100%;
}
.itemsinfo_title {
    max-height: 35px;
    overflow: hidden;
    margin: 0;
    color: #fff;
    font-size: 15px;
    line-height: 18px;
}
.itemsinfo_price {
	color: #ffffff;
	font-size: 16px;
}
.itemsinfo_share,
.itemsinfo_like {
	height: 43px;
    width: 50%;
    float: left;
    line-height: 43px;
    text-align: center;
    display: inline-block;
    color: #fff;
    font-size: 20px;
}


/* itemlikes */
.itemlikes {
    font-size: 14px;
    color: #4f5dcd;
}
.itemlikes_icon {
}
.itemlikes_count {
	line-height: normal;
}

/* itemsummary */
.itemsummary {
    color: #999;
    font-size: 12px;
    max-height: 35px;
    overflow: hidden;
}

/* itemtags */
.itemtags {
	color: #4f5dcd;
	font-size: 12px;
}
.itemtags span {
	display: inline-block;
	margin: 0 2px;
}

/* itemviewcomments */
.itemviewcomments {
	color: #aaa;
	font-size: 12px;
}

/* comments */
.comments {
	background-color: #ffffff;
}

/* comment */
.comment {
    position: relative;
    padding: 0 0 0 50px;
    min-height: 50px;
}
.comment_image {
	position: absolute;
	left: 0;
	top: 0;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.comment_content {
	color: #999;
	line-height: 16px;
	font-size: 12px;
}
.comment_title {
	color: #4f5dcd;
}
.comment_text {

}
.comment_text em {
	font-style: normal;
	color: #4f5dcd;
}

/* writecomment */
.writecomment {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 99;
	right: 0;
	width: 100%;
}
.writecomment_form {
	position: relative;
	padding: 0 70px 0 0;
}
.writecomment_input {
	font-size: 12px;
	margin: 0;
	height: 55px;
	border: 0;
	border-top: 1px solid #dddddd;
}
.writecomment_button {
	position: absolute;
	right: 0;
	top: 0;
	width: 70px;
	height: 55px;
	border: 0;
	text-indent: -999999px;
	overflow: hidden;
	background-color: #fd629c;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30px;
	background-image: url('assets/images/sent-mail.png');
}

/* backlink */
.backlink {
	position: relative;
	height: 50px;
	line-height: 50px;
	background-color: #ff6853;
	color: #ffffff;
}
.backlink_icon {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 20px;
}
.backlink_title {
	font-size: 18px;
}








.owl-carousel .animated{-webkit-animation-duration:1000ms;animation-duration:1000ms;-webkit-animation-fill-mode:both;animation-fill-mode:both}
.owl-carousel .owl-animated-in{z-index:0}
.owl-carousel .owl-animated-out{z-index:1}
.owl-carousel .fadeOut{-webkit-animation-name:fadeOut;animation-name:fadeOut}
  @-webkit-keyframes fadeOut{0%{opacity:1}100%{opacity:0}}
  @keyframes fadeOut{0%{opacity:1}100%{opacity:0}}
.owl-height{-webkit-transition:height 500ms ease-in-out;-moz-transition:height 500ms ease-in-out;-ms-transition:height 500ms ease-in-out;-o-transition:height 500ms ease-in-out;transition:height 500ms ease-in-out}
.owl-carousel{display:none;width:100%;-webkit-tap-highlight-color:transparent;position:relative;z-index:1}
.owl-carousel .owl-stage{position:relative;-ms-touch-action:pan-Y}
.owl-carousel .owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
.owl-carousel .owl-stage-outer{position:relative;overflow:hidden;-webkit-transform:translate3d(0px,0,0)}
.owl-carousel .owl-controls .owl-dot,.owl-carousel .owl-controls .owl-nav .owl-next,.owl-carousel .owl-controls .owl-nav .owl-prev{cursor:pointer;cursor:hand;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.owl-carousel.owl-loaded{display:block}
.owl-carousel.owl-loading{opacity:0;display:block}
.owl-carousel.owl-hidden{opacity:0}
.owl-carousel .owl-refresh .owl-item{display:none}
.owl-carousel .owl-item{position:relative;min-height:1px;float:left;-webkit-backface-visibility:hidden;-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.owl-carousel.owl-text-select-on .owl-item{-webkit-user-select:auto;-moz-user-select:auto;-ms-user-select:auto;user-select:auto}
.owl-carousel .owl-grab{cursor:move;cursor:-webkit-grab;cursor:-o-grab;cursor:-ms-grab;cursor:grab}
.owl-carousel.owl-rtl{direction:rtl}
.owl-carousel.owl-rtl .owl-item{float:right}
.no-js .owl-carousel{display:block}
.owl-carousel .owl-item .owl-lazy{opacity:0;-webkit-transition:opacity 400ms ease;-moz-transition:opacity 400ms ease;-ms-transition:opacity 400ms ease;-o-transition:opacity 400ms ease;transition:opacity 400ms ease}
.owl-carousel .owl-video-wrapper{position:relative;height:100%;background:#000}
.owl-carousel .owl-video-play-icon{position:absolute;height:80px;width:80px;left:50%;top:50%;margin-left:-40px;margin-top:-40px;background:url(owl.video.play.png) no-repeat;cursor:pointer;z-index:1;-webkit-backface-visibility:hidden;-webkit-transition:scale 100ms ease;-moz-transition:scale 100ms ease;-ms-transition:scale 100ms ease;-o-transition:scale 100ms ease;transition:scale 100ms ease}
.owl-carousel .owl-video-play-icon:hover{-webkit-transition:scale(1.3,1.3);-moz-transition:scale(1.3,1.3);-ms-transition:scale(1.3,1.3);-o-transition:scale(1.3,1.3);transition:scale(1.3,1.3)}
.owl-carousel .owl-video-playing .owl-video-play-icon,
.owl-carousel .owl-video-playing .owl-video-tn{display:none}
.owl-carousel .owl-video-tn{opacity:0;height:100%;background-position:center center;background-repeat:no-repeat;-webkit-background-size:contain;-moz-background-size:contain;-o-background-size:contain;background-size:contain;-webkit-transition:opacity 400ms ease;-moz-transition:opacity 400ms ease;-ms-transition:opacity 400ms ease;-o-transition:opacity 400ms ease;transition:opacity 400ms ease}
.owl-carousel .owl-video-frame{position:relative;z-index:1}

/*.owl-theme .owl-controls{margin-top:10px;text-align:center;-webkit-tap-highlight-color:transparent}
.owl-theme .owl-controls .owl-nav [class*=owl-]{color:#fff;font-size:14px;margin:5px;padding:4px 7px;background:#d6d6d6;display:inline-block;cursor:pointer;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
.owl-theme .owl-controls .owl-nav [class*=owl-]:hover{background:#869791;color:#fff;text-decoration:none}
.owl-theme .owl-controls .owl-nav .disabled{opacity:.5;cursor:default}
.owl-theme .owl-dots .owl-dot{display:inline-block;zoom:1;*display:inline}
.owl-theme .owl-dots .owl-dot span{width:10px;height:10px;margin:5px 7px;background:#d6d6d6;display:block;-webkit-backface-visibility:visible;-webkit-transition:opacity 200ms ease;-moz-transition:opacity 200ms ease;-ms-transition:opacity 200ms ease;-o-transition:opacity 200ms ease;transition:opacity 200ms ease;-webkit-border-radius:30px;-moz-border-radius:30px;border-radius:30px}
.owl-theme .owl-dots .owl-dot.active span,.owl-theme .owl-dots .owl-dot:hover span{background:#869791}*/
/* slider-container  */
.slider-container {
    margin: 0 auto;
}
.slider-container .back-bar {
    position: relative;
    height: 3px;
    background-color: #d23d3a;
}
.slider-container .back-bar .selected-bar {
    position: absolute;
    height: 100%;
    background-color: #ffffff;
}
.slider-container .back-bar .pointer {
    position: absolute;
    width: 15px;
    height: 15px;
    opacity: 1;
    z-index: 2;
    top: -6px;
    border-radius: 50%;
    background-color: #ffffff;
}
.slider-container .back-bar .pointer-label {
    position: absolute;
    color: #727272;
    top: -27px;
    font-size: 12px;
    white-space: nowrap;
    line-height: 1;
}
.slider-container .scale {
    top: 12px;
    position: relative;
}
.slider-container .scale span {
    border-left: 1px solid #e5e5e5;
    position: absolute;
    height: 5px;
    border-left: 1px solid #727272;
    font-size: 0;
}
.slider-container .scale ins {
    font-size: 11px;
    text-decoration: none;
    position: absolute;
    left: 50%;
    text-align: center;
    top: 9px;
    width: 20px;
    color: #727272;
    line-height: 1;
}