	/*
  	Flaticon icon font: Flaticon
  	Creation date: 10/11/2016 17:19
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("assets/fonts/Flaticon.eot");
  src: url("assets/fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("assets/fonts/Flaticon.woff") format("woff"),
       url("assets/fonts/Flaticon.ttf") format("truetype"),
       url("assets/fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("assets/fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-angle-pointing-to-left:before { content: "\f100"; }
.flaticon-close-button:before { content: "\f101"; }
.flaticon-heart:before { content: "\f102"; }
.flaticon-left-arrow:before { content: "\f103"; }
.flaticon-like:before { content: "\f104"; }
.flaticon-photo-camera:before { content: "\f105"; }
.flaticon-right-arrow:before { content: "\f106"; }
.flaticon-search:before { content: "\f107"; }
.flaticon-share:before { content: "\f108"; }
.flaticon-user-silhouette:before { content: "\f109"; }
.flaticon-web-page-home:before { content: "\f10a"; }