/* grid */
.jp_wrapper {max-width: 960px; margin: 0 auto; }
.jp_row {max-width: 100%; margin-left: auto; margin-right: auto; } 
.jp_row::before, .jp_row::after {content: ' '; display: table; } 
.jp_row::after {clear: both; } 
.strech {margin-left: -7px; margin-right: -7px; max-width: none;}
.collapse > .jp_column, .collapse > .jp_columns {padding-left: 0; padding-right: 0; }
.collapse.jp_column {padding-left: 0; padding-right: 0; } 
.jp_row .jp_row.collapse {margin-left: 0; margin-right: 0; } 
.jp_row.expanded {max-width: none; } 
.jp_row.stretch { margin: 0 -7px; max-width: none; } 
.jp_row.expanded .jp_row {margin-left: auto; margin-right: auto; } 
.jp_column, .jp_columns {padding-left: 7px; padding-right: 7px; width: 100%; float: left; } 
.ln-ar .jp_column, .ln-ar .jp_columns { float: right; } 
.jp_column.jp_row.jp_row, .jp_row.jp_row.jp_columns { float: none; } 
.jp_row .jp_column.jp_row.jp_row, .jp_row .jp_row.jp_row.jp_columns {padding-left: 0; padding-right: 0; margin-left: 0; margin-right: 0; } 
.jp_small_1 {width: 4.16667%; } 
.jp_small_2 {width: 8.33333%; } 
.jp_small_3 {width: 12.5%; } 
.jp_small_4 {width: 16.66667%; } 
.jp_small_5 {width: 20.83333%; } 
.jp_small_6 {width: 25%; } 
.jp_small_7 {width: 29.16667%; } 
.jp_small_8 {width: 33.33333%; } 
.jp_small_9 {width: 37.5%; } 
.jp_small_10 {width: 41.66667%; } 
.jp_small_11 {width: 45.83333%; } 
.jp_small_12 {width: 50%; } 
.jp_small_13 {width: 54.16667%; } 
.jp_small_14 {width: 58.33333%; } 
.jp_small_15 {width: 62.5%; } 
.jp_small_16 {width: 66.66667%; } 
.jp_small_17 {width: 70.83333%; } 
.jp_small_18 {width: 75%; } 
.jp_small_19 {width: 79.16667%; } 
.jp_small_20 {width: 83.33333%; } 
.jp_small_21 {width: 87.5%; } 
.jp_small_22 {width: 91.66667%; } 
.jp_small_23 {width: 95.83333%; } 
.jp_small_24 {width: 100%; } 
.jp_small_collapse > .jp_column, .jp_small_collapse > .jp_columns {padding-left: 0; padding-right: 0; } 
.jp_small_collapse .jp_row {margin-left: 0; margin-right: 0; } 
.jp_small_uncollapse > .jp_column, .jp_small_uncollapse > .jp_columns {padding-left: 0.625rem; padding-right: 0.625rem; } 
.jp_small_centered {float: none; margin-left: auto; margin-right: auto; } 
@media screen and (min-width: 540px) {
  .jp_medium_1 {width: 4.16667%; } 
  .jp_medium_2 {width: 8.33333%; } 
  .jp_medium_3 {width: 12.5%; } 
  .jp_medium_4 {width: 16.66667%; } 
  .jp_medium_5 {width: 20.83333%; } 
  .jp_medium_6 {width: 25%; } 
  .jp_medium_7 {width: 29.16667%; } 
  .jp_medium_8 {width: 33.33333%; } 
  .jp_medium_9 {width: 37.5%; } 
  .jp_medium_10 {width: 41.66667%; } 
  .jp_medium_11 {width: 45.83333%; } 
  .jp_medium_12 {width: 50%; } 
  .jp_medium_13 {width: 54.16667%; } 
  .jp_medium_14 {width: 58.33333%; } 
  .jp_medium_15 {width: 62.5%; } 
  .jp_medium_16 {width: 66.66667%; } 
  .jp_medium_17 {width: 70.83333%; } 
  .jp_medium_18 {width: 75%; } 
  .jp_medium_19 {width: 79.16667%; } 
  .jp_medium_20 {width: 83.33333%; } 
  .jp_medium_21 {width: 87.5%; } 
  .jp_medium_22 {width: 91.66667%; } 
  .jp_medium_23 {width: 95.83333%; } 
  .jp_medium_24 {width: 100%; } 
  .jp_medium_collapse > .jp_column, .jp_medium_collapse > .jp_columns {padding-left: 0; padding-right: 0; } 
  .jp_medium_collapse .jp_row {margin-left: 0; margin-right: 0; } 
  .jp_medium_uncollapse > .jp_column, .jp_medium_uncollapse > .jp_columns {padding-left: 0.9375rem; padding-right: 0.9375rem; } 
  .jp_medium_centered {float: none; margin-left: auto; margin-right: auto; } 
} 
@media screen and (min-width: 760px) {
  .jp_large_1 {width: 4.16667%; } 
  .jp_large_2 {width: 8.33333%; } 
  .jp_large_3 {width: 12.5%; } 
  .jp_large_4 {width: 16.66667%; } 
  .jp_large_5 {width: 20.83333%; } 
  .jp_large_6 {width: 25%; } 
  .jp_large_7 {width: 29.16667%; } 
  .jp_large_8 {width: 33.33333%; } 
  .jp_large_9 {width: 37.5%; } 
  .jp_large_10 {width: 41.66667%; } 
  .jp_large_11 {width: 45.83333%; } 
  .jp_large_12 {width: 50%; } 
  .jp_large_13 {width: 54.16667%; } 
  .jp_large_14 {width: 58.33333%; } 
  .jp_large_15 {width: 62.5%; } 
  .jp_large_16 {width: 66.66667%; } 
  .jp_large_17 {width: 70.83333%; } 
  .jp_large_18 {width: 75%; } 
  .jp_large_19 {width: 79.16667%; } 
  .jp_large_20 {width: 83.33333%; } 
  .jp_large_21 {width: 87.5%; } 
  .jp_large_22 {width: 91.66667%; } 
  .jp_large_23 {width: 95.83333%; } 
  .jp_large_24 {width: 100%; } 
  .jp_large_collapse > .jp_column, .jp_large_collapse > .jp_columns {padding-left: 0; padding-right: 0; } 
  .jp_large_collapse .jp_row {margin-left: 0; margin-right: 0; } 
  .jp_large_uncollapse > .jp_column, .jp_large_uncollapse > .jp_columns {padding-left: 0.9375rem; padding-right: 0.9375rem; } 
  .jp_large_centered {float: none; margin-left: auto; margin-right: auto; } 
}
@media screen and (min-width: 980px) {
  .jp_xlarge_1 {width: 4.16667%; } 
  .jp_xlarge_2 {width: 8.33333%; } 
  .jp_xlarge_3 {width: 12.5%; } 
  .jp_xlarge_4 {width: 16.66667%; } 
  .jp_xlarge_5 {width: 20.83333%; } 
  .jp_xlarge_6 {width: 25%; } 
  .jp_xlarge_7 {width: 29.16667%; } 
  .jp_xlarge_8 {width: 33.33333%; } 
  .jp_xlarge_9 {width: 37.5%; } 
  .jp_xlarge_10 {width: 41.66667%; } 
  .jp_xlarge_11 {width: 45.83333%; } 
  .jp_xlarge_12 {width: 50%; } 
  .jp_xlarge_13 {width: 54.16667%; } 
  .jp_xlarge_14 {width: 58.33333%; } 
  .jp_xlarge_15 {width: 62.5%; } 
  .jp_xlarge_16 {width: 66.66667%; } 
  .jp_xlarge_17 {width: 70.83333%; } 
  .jp_xlarge_18 {width: 75%; } 
  .jp_xlarge_19 {width: 79.16667%; } 
  .jp_xlarge_20 {width: 83.33333%; } 
  .jp_xlarge_21 {width: 87.5%; } 
  .jp_xlarge_22 {width: 91.66667%; } 
  .jp_xlarge_23 {width: 95.83333%; } 
  .jp_xlarge_24 {width: 100%; } 
  .jp_xlarge_collapse > .jp_column, .jp_xlarge_collapse > .jp_columns {padding-left: 0; padding-right: 0; } 
  .jp_xlarge_collapse .jp_row {margin-left: 0; margin-right: 0; } 
  .jp_xlarge_uncollapse > .jp_column, .jp_xlarge_uncollapse > .jp_columns {padding-left: 0.9375rem; padding-right: 0.9375rem; } 
  .jp_xlarge_centered {float: none; margin-left: auto; margin-right: auto; } 
}