/* main */
.main {
	margin: 0 0 45px 0;
}

/* navigation */
.navigation {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 99;
	right: 0;
	width: 100%;
    background-color: #fe639d;
}
.navigation_list {}
.navigation_item {
	width: 20%;
	float: left;
}
.navigation_link {
	display: block;
	color: #ffffff;
	font-size: 20px;
	padding: 5px;
	background-color: #fe639d;

	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-ms-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
}
.navigation_link:hover {
	background-color: #b14255;
}
.navigation_search {}

/* searchoverlay */
.searchoverlay {
    top: 0;
    left: 0;
    padding: 15px;
    width: 100%;
    z-index: 50;
    height: 100%;
    position: fixed;
    background-color: rgba(254,114,99,.95);
    opacity: 0;

	-moz-transform: translateX(0px) translateY(100%);
	-webkit-transform: translateX(0px) translateY(100%);
	-o-transform: translateX(0px) translateY(100%);
	-ms-transform: translateX(0px) translateY(100%);
	transform: translateX(0px) translateY(100%);

	-webkit-transition: all 500ms linear;
	-moz-transition: all 500ms linear;
	-ms-transition: all 500ms linear;
	-o-transition: all 500ms linear;
	transition: all 500ms linear;
}
.searchoverlay.active {
	opacity: 1;
	-moz-transform: translateX(0px) translateY(0);
	-webkit-transform: translateX(0px) translateY(0);
	-o-transform: translateX(0px) translateY(0);
	-ms-transform: translateX(0px) translateY(0);
	transform: translateX(0px) translateY(0);
}
.searchoverlay_form {
	margin: 40px 0 0 0;
}
.searchoverlay_input {
	margin: 0;
    border: 0;
    color: #ffffff;
    background-color: transparent;
    border-bottom: 1px solid #dddddd;
}
.searchoverlay_label {
	color: #ffffff;
	margin: 0 0 15px 0;
}
.searchoverlay_slide {
	margin: 20px 0;
}
.searchoverlay_hr {
	display: block;
	height: 1px;
	background-color: #e6555f;
}

/* trending */
.trending {}
.trending_heading {
	font-size: 12px;
	color: #ffffff;
}
.trending_list {}
.trending_item {
	font-size: 12px;
    margin: 5px 2px;
    display: inline-block;
    padding: 5px 15px;
    color: #ffffff;
    border-radius: 15px;
    background-color: #4f5dcd;
}



/* sitesearch */
.sitesearch {}
.sitesearch_trig {
    display: block;
    color: #fff;
    padding: 14px 10px;
}
.sitesearch_icon {}
.sitesearch_box {
	display: none;
}


/* results */
.results {}
.results_list {}
.results_item {
	border-bottom: 1px solid #dddddd;
}
.results_link {
	display: block;
}
.results_top {
	background-color: #ffffff;
}
.results_middle {
	position: relative;
}
.results_bottom {
	background-color: #ffffff;
}

/* personinfo */
.personinfo {}
.personinfo_img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.personinfo_title {
    color: #4f5dcd;
    font-size: 13px;
}

/* persondistance */
.persondistance {
    font-size: 16px;
    color: #999;
    height: 40px;
    line-height: 40px;
}
.persondistance_value {}
.persondistance_title {}


/* itemslider */
.itemslider {
	min-height: 200px;
	background-color: #dddddd;
}
.itemslider_item {
	display: block;
	position: relative;
}
.itemslider_item:after {
	position: absolute;
	content: '';
	top: 0;
	z-index: 5;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
}
.itemslider_img {
	width: 100%;
}
.itemslider .owl-prev,
.itemslider .owl-next {
	top: 50%;
    width: 30px;
    height: 50px;
    margin-top: -25px;
    position: absolute;
    text-indent: -99999px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    background-color: rgba(255, 255, 255, 0.47);
}
.itemslider .owl-prev {
	background-image: url('assets/images/left-arrow.png');
	left: 0 !important;
}
.itemslider .owl-next {
	background-image: url('assets/images/right-arrow.png');
	right: 0 !important;
}

/* itemsinfo */
.itemsinfo {
	position: absolute;
	bottom: 0;
	z-index: 6;
	width: 100%;
}
.itemsinfo_title {
    max-height: 35px;
    overflow: hidden;
    margin: 0;
    color: #fff;
    font-size: 15px;
    line-height: 18px;
}
.itemsinfo_price {
	color: #ffffff;
	font-size: 16px;
}
.itemsinfo_share,
.itemsinfo_like {
	height: 43px;
    width: 50%;
    float: left;
    line-height: 43px;
    text-align: center;
    display: inline-block;
    color: #fff;
    font-size: 20px;
}


/* itemlikes */
.itemlikes {
    font-size: 14px;
    color: #4f5dcd;
}
.itemlikes_icon {
}
.itemlikes_count {
	line-height: normal;
}

/* itemsummary */
.itemsummary {
    color: #999;
    font-size: 12px;
    max-height: 35px;
    overflow: hidden;
}

/* itemtags */
.itemtags {
	color: #4f5dcd;
	font-size: 12px;
}
.itemtags span {
	display: inline-block;
	margin: 0 2px;
}

/* itemviewcomments */
.itemviewcomments {
	color: #aaa;
	font-size: 12px;
}

/* comments */
.comments {
	background-color: #ffffff;
}

/* comment */
.comment {
    position: relative;
    padding: 0 0 0 50px;
    min-height: 50px;
}
.comment_image {
	position: absolute;
	left: 0;
	top: 0;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.comment_content {
	color: #999;
	line-height: 16px;
	font-size: 12px;
}
.comment_title {
	color: #4f5dcd;
}
.comment_text {

}
.comment_text em {
	font-style: normal;
	color: #4f5dcd;
}

/* writecomment */
.writecomment {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 99;
	right: 0;
	width: 100%;
}
.writecomment_form {
	position: relative;
	padding: 0 70px 0 0;
}
.writecomment_input {
	font-size: 12px;
	margin: 0;
	height: 55px;
	border: 0;
	border-top: 1px solid #dddddd;
}
.writecomment_button {
	position: absolute;
	right: 0;
	top: 0;
	width: 70px;
	height: 55px;
	border: 0;
	text-indent: -999999px;
	overflow: hidden;
	background-color: #fd629c;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30px;
	background-image: url('assets/images/sent-mail.png');
}

/* backlink */
.backlink {
	position: relative;
	height: 50px;
	line-height: 50px;
	background-color: #ff6853;
	color: #ffffff;
}
.backlink_icon {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 20px;
}
.backlink_title {
	font-size: 18px;
}







