/* slider-container  */
.slider-container {
    margin: 0 auto;
}
.slider-container .back-bar {
    position: relative;
    height: 3px;
    background-color: #d23d3a;
}
.slider-container .back-bar .selected-bar {
    position: absolute;
    height: 100%;
    background-color: #ffffff;
}
.slider-container .back-bar .pointer {
    position: absolute;
    width: 15px;
    height: 15px;
    opacity: 1;
    z-index: 2;
    top: -6px;
    border-radius: 50%;
    background-color: #ffffff;
}
.slider-container .back-bar .pointer-label {
    position: absolute;
    color: #727272;
    top: -27px;
    font-size: 12px;
    white-space: nowrap;
    line-height: 1;
}
.slider-container .scale {
    top: 12px;
    position: relative;
}
.slider-container .scale span {
    border-left: 1px solid #e5e5e5;
    position: absolute;
    height: 5px;
    border-left: 1px solid #727272;
    font-size: 0;
}
.slider-container .scale ins {
    font-size: 11px;
    text-decoration: none;
    position: absolute;
    left: 50%;
    text-align: center;
    top: 9px;
    width: 20px;
    color: #727272;
    line-height: 1;
}