<div class="main">
	<div class="jp_wrapper">
		<a class="backlink jp_al_center jp_block" href="/">
			<i class="backlink_icon jp_ml10 flaticon-angle-pointing-to-left"></i>
			<span class="backlink_title jp_bold">Detail</span>
		</a>
		<div class="results">
			<ul class="results_list">
				<li class="results_item">
					<div class="results_link" href="">
						<div class="jp_row collapse results_top jp_p10">
							<div class="jp_small_16 jp_columns">
								<div class="personinfo">
									<img class="personinfo_img" ng-src="{{item.user.image}}" src="" alt="">
									<span class="personinfo_title jp_bold jp_ml10 jp_mr10">{{item.user.name}}</span>
								</div>
							</div>
							<div class="jp_small_8 jp_columns">
								<div class="persondistance jp_al_right">
									<span class="persondistance_value jp_bold">{{item.user.distance}} m</span>
									<span class="persondistance_title">away</span>
								</div>
							</div>
						</div>
						<div class="jp_row collapse jp_column results_middle">
							<div class="itemslider" owl-carousel owl-waitfor="item.product.images" items="1" nav="true" dots="false">
								<span class="itemslider_item" ng-repeat="image in item.product.images track by $index" on-finish-render="ngRepeatFinished">
									<img class="itemslider_img" ng-src="{{image}}" src="" alt="">
								</span>
							</div>
							<div class="jp_row itemsinfo">
								<div class="jp_small_18 jp_columns">
									<h5 class="itemsinfo_title">{{item.product.title}}</h5>
									<span class="itemsinfo_price jp_bold">{{item.product.price}} AED</span>
								</div>
								<div class="jp_small_6 jp_columns">
									<span class="flaticon-share itemsinfo_share"></span>
									<span class="flaticon-heart itemsinfo_like"></span>
								</div>
							</div>
						</div>
						<div class="jp_row collapse results_bottom jp_p10">
							<div class="itemlikes jp_mb3">
								<i class="itemlikes_icon flaticon-like"></i>
								<span class="itemlikes_count jp_bold">{{item.product.likes}} Likes</span>
							</div>
							<p class="itemsummary jp_m0 jp_mb3">{{item.product.description}}</p>
							<div class="itemtags">
								<span ng-repeat="tag in item.product.tags track by $index">#{{tag}}</span>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="comments jp_p10">
			<div class="comment jp_mb5" ng-repeat="comment in item.comments track by $index">
				<img class="comment_image" ng-src="{{comment.user.image}}" src="" alt="">
				<div class="comment_content">
					<span class="comment_title jp_bold">{{comment.user.name}}</span>
					<span class="comment_text">{{comment.content}}</span>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="writecomment">
	<form class="writecomment_form" ng-submit="submit()" name="form.comment" novalidate>
		<input type="text" ng-model="comment" class="writecomment_input" placeholder="Write comment">
		<input type="submit" class="writecomment_button">
	</form>
</div>