<div class="main" scroll-bottom>
	<div class="jp_wrapper">
		<div class="results">
			<ul class="results_list">
				<li class="results_item" ng-repeat="item in products track by $index">
					<a class="results_link" href="detail?id={{item._id}}">
						<div class="jp_row collapse results_top jp_p10">
							<div class="jp_small_16 jp_columns">
								<div class="personinfo">
									<img class="personinfo_img" ng-src="{{item.user.image}}" src="" alt="">
									<span class="personinfo_title jp_bold jp_ml10 jp_mr10">{{item.user.name}}</span>
								</div>
							</div>
							<div class="jp_small_8 jp_columns">
								<div class="persondistance jp_al_right">
									<span class="persondistance_value jp_bold">{{item.user.distance}} m</span>
									<span class="persondistance_title">away</span>
								</div>
							</div>
						</div>
						<div class="jp_row collapse jp_column results_middle">
							<div class="itemslider">
								<span class="itemslider_item">
									<img class="itemslider_img" ng-src="{{item.product.images[0]}}" src="" alt="">
								</span>
							</div>
							<div class="jp_row itemsinfo">
								<div class="jp_small_18 jp_columns">
									<h5 class="itemsinfo_title">{{item.product.title}}</h5>
									<span class="itemsinfo_price jp_bold">{{item.product.price}} AED</span>
								</div>
								<div class="jp_small_6 jp_columns">
									<span class="flaticon-share itemsinfo_share"></span>
									<span class="flaticon-heart itemsinfo_like"></span>
								</div>
							</div>
						</div>
						<div class="jp_row collapse results_bottom jp_p10">
							<div class="itemlikes jp_mb3">
								<i class="itemlikes_icon flaticon-like"></i>
								<span class="itemlikes_count jp_bold">25 Likes</span>
							</div>
							<p class="itemsummary jp_m0 jp_mb3">{{item.product.description}}</p>
							<div class="itemtags">
								<span ng-repeat="tag in item.product.tags track by $index">#{{tag}}</span>
							</div>
							<span class="itemviewcomments">View {{item.comments | length}} comments</span>
						</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<ng-include src="'views/navigation.html'"></ng-include>