<div class="navigation">
	<div class="jp_wrapper">
		<ul class="navigation_list jp_clear">
			<li class="navigation_item">
				<a class="navigation_link jp_al_center" href="">
					<i class="navigation_icon flaticon-web-page-home"></i>
				</a>
			</li>
			<li class="navigation_item">
				<a class="navigation_link jp_al_center" href="">
					<i class="navigation_icon flaticon-like"></i>
				</a>
			</li>
			<li class="navigation_item">
				<a class="navigation_link jp_al_center" href="">
					<i class="navigation_icon flaticon-photo-camera"></i>
				</a>
			</li>
			<li class="navigation_item">
				<a class="navigation_link jp_al_center" href="">
					<i class="navigation_icon flaticon-user-silhouette"></i>
				</a>
			</li>
			<li class="navigation_item">
				<a class="navigation_link jp_al_center js_overlayopen" href="">
					<i class="sitesearch_icon flaticon-search"></i>
				</a>
				<a class="navigation_link jp_al_center js_overlayclose" href="" style="display: none">
					<i class="sitesearch_icon flaticon-close-button"></i>
				</a>
			</li>
		</ul>
	</div>		
</div>
<div class="searchoverlay" hover-intent="js_overlayopen,js_overlayclose">
	<form class="searchoverlay_form">
		<div class="jp_row jp_column collapse">
			<input type="text" class="searchoverlay_input" placeholder="What are you looking for">
		</div>
		<div class="jp_row jp_column collapse jp_pt50 jp_pb25 jp_al_center">
			<label for="" class="searchoverlay_label">Search within {{distance}} Km</label>
			<input jrange="false" value="200" range="0,500" type="hidden" model="distance" />
		</div>
	</form>
	<span class="searchoverlay_hr jp_mt25 jp_mb15"></span>
	<div class="trending jp_al_center">
		<h5 class="trending_heading jp_bold">TRENDING SEARCH</h5>
		<div class="trending_list">
			<span class="trending_item">#cat</span>
			<span class="trending_item">#leaf</span>
			<span class="trending_item">#captain</span>
			<span class="trending_item">#dallas</span>
			<span class="trending_item">#dujimara</span>
			<span class="trending_item">#computer</span>
			<span class="trending_item">#usb led</span>
			<span class="trending_item">#headphones</span>
			<span class="trending_item">#usb</span>
		</div>
	</div>
</div>